.bucket {
  position: relative;
  .new-drop-btn {
    position: absolute;
    font-size: 1rem;
    top: 0;
    left: .5rem;
  }
}
.reception-bucket, .departed-bucket, .review-bucket .bucket-header {
  display: none;
  @include breakpoint($desktop) {
    display: initial;
  }
}
.review-bucket .with-drop-area {
  padding-top: 1rem;
  border-top: .25rem solid rgba($black, .5);
}
.reception-bucket .new-drop-area {
  padding-bottom: 1rem;
  border-bottom: .25rem solid rgba($black, .5);
}
.new-drop-area:empty, .wait-drop-area:empty, .with-drop-area:empty, .depart-drop-area:empty {
  display: none;
}
